%script#directory_template{:type => 'text/template'}
  = link_to(raw('<%= path %>'), raw("#cd<%= path %>"))

%script#file_template{:type => 'text/template'}
  %img{:src => "https://api.dropbox.com/0/links<%= path %>"}
  %ul
    %li.path "<%= path %>"
    %li.revision "<%= revision %>"

%script#section_dialog_template{:type => 'text/template'}
  = form_for Section.new, :url => 'dropboxes/sync' do |f|
    = f.label :name, "Portfolio section: "
    = f.text_field :name,:'data-auto_complete' => section_names
    = f.label :description, "Section description: "
    = f.text_area :description
    = f.hidden_field :dropbox_files
    = f.submit 'sync'
