= link_to 'authorize', authorize_admin_dropboxes_path, :id => 'authorize_dropbox'

%h1 Add dropbox
= form_tag admin_dropboxes_path do

  .field
    = label_tag :folder_name
    = text_field_tag :folder_name
  .actions
    = submit_tag 'Sync'

- if @imgs
  - @imgs.each do |path|
    = image_tag("https://api.dropbox.com/0/links#{path}")
