- content_for :templates do
  = dropbox_file_template
  = dropbox_folder_template

= link_to 'authorize', authorize_admin_dropboxes_path, :id => 'authorize_dropbox'

%h1 Add dropbox
= form_tag admin_dropboxes_path, :id => 'add_dropbox' do

  .field
    = label_tag :folder_name
    = text_field_tag :folder_name
  .actions
    = submit_tag 'Add'

#dropbox_meta
