!!!5
%html
  %head
    %title Philip Buchanan
    = stylesheet_link_tag "reset", "application"
    = javascript_include_tag "application", "jquery-1.6.2.min"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert

    #sidebar
      .logo

      %ul#nav
        %li.with_subcontent
          = link_to "STUDENT WORK", "#student_work"
          %ul.sub
            %li
              =link_to "sub1", "#"
              .corner
            %li
              =link_to "sub1", "#"
              .corner
            %li
              =link_to "sub1", "#"
              .corner
            %li
              =link_to "sub1", "#"
              .corner
        %li= link_to "ABOUT ME", "#"
        %li= link_to "CONTACT", "#"

    = yield
