!!!5
%html
  %head
    %title
    = javascript_include_tag "frontend"
    = stylesheet_link_tag "frontend"
    = csrf_meta_tags
    = yield :templates
  %body
    %header
      = image_tag("logo.png", :id => 'logo')

    = render :partial => "pages/sidebar", :locals => { :sections => Section.includes(:dropbox_files) }

    %section#main
      = yield

    %footer
