!!!5
%html
  %head
    %title
    = javascript_include_tag "frontend"
    = csrf_meta_tags

    = yield :templates
  %body
    %p.notice= notice
    %p.alert= alert

    = render :partial => "pages/sidebar", :locals => { :sections => Section.includes(:dropbox_files) }

    = yield
